[user]
	email = 35819999+wallinb@users.noreply.github.com
	name = Bruce Wallin
[core]
	editor = vim
	excludesFile = ~/.config/git/.gitignore
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
	defaultBranch = main
