[user]
	email = bruce.wallin@nsidc.org
	name = Bruce Wallin
[core]
	editor = vim
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
	defaultBranch = main
